.populacao-finita-um-serv {
    padding: 10px;
    .resultado{
        float: left;
        display: table;
        border: 1px solid #c5c5c5;
        min-width: 400px;
        height: 100px;
        font-size: 1.2em;
        padding: 10px;
    }
}