.sec-index {
    width: 100%;
    display: table;
    .list{
        width: 100%;
        display: table;
        li{
            float: left;
            min-height: 35px;
            background-color: #78909C;
            margin: 5px;
            .link-li{
                color:#fff;
                display: block;
                float: left;
                min-width: 150px;
                transition: all .2s ease-in;
                text-decoration: none;
                padding: 10px;
                border-bottom: 5px solid transparent;
                &:hover{
                    border-bottom: 5px solid #424242;
                }
            }
        }
    }
}

