<section class="sec-index">
  <h1><strong>Análise Desempenho</strong></h1>

   <!-- Nav tabs -->
   <ul class="list">
      <li><router-link class="link-li" to="/index/filaclassica">Fila Clássica</router-link></li>
      <li><router-link class="link-li" to="/index/mservidores">m-Servidores</router-link></li>
      <li><router-link class="link-li" to="/index/capacidadefinita">Capacidade Finita</router-link></li>
      <li><router-link class="link-li" to="/index/mservcapacidadefinita">m-Servidores com Capacidade Finita</router-link></li>
      <li><router-link class="link-li" to="/index/pupulacaofinitaumserv">População Finita com um Servidor</router-link></li>
      <li><router-link class="link-li" to="/index/populacaofinitainfserv">População Finita com infinitos servidores</router-link></li>
      <li><router-link class="link-li" to="/index/mservidorescappopfinitos">m-Servidores com Capaciade e População Finitos</router-link></li>
   </ul>

</section>

